<mat-sidenav-container class="h-full">
  <mat-sidenav #drawer class="w-64 shadow-[2px_0_6px_rgba(0,0,0,0.24)]" fixedInViewport
      [attr.role]="isHandset() ? 'dialog' : 'navigation'"
      [mode]="isHandset() ? 'over' : 'side'"
      [opened]="!isHandset()">
    <mat-toolbar class="bg-inherit">Homelab</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/welcome">Dashboard / Welcome</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="sticky top-0 z-10">
      @if (isHandset()) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <span>Application</span>
      <span class="flex-auto"></span>
      <button mat-icon-button (click)="logout()" aria-label="Logout">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>
    <div class="p-6">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
